<label>Time left: {{timeLeft}} </label>

<label for="driver-for">Driver for: </label>
<input type="number" id="driver-for" placeholder="15" value="15" (change)="driverForHandler($event)">

<!--<label for="break-length">Break length: </label>-->
<!--<input type="number" id="break-length" placeholder="15" value="15">-->

<!--<label for="break-every">Break every: </label>-->
<!--<input type="number" id="break-every" placeholder="60" value="60">-->

<p>Driver: {{driver}}</p>
<div>
  <label for="input-navigator">Navigators: </label>
  <div class="navigator">
    <input #newNavigator type="text" id="input-navigator" placeholder="Name">
    <mat-icon (click)="addNavigator(newNavigator.value)">add</mat-icon>
  </div>
</div>
<li class="navigator" *ngFor="let navigator of navigators">
  {{navigator}}
  <mat-icon (click)="removeNavigator(navigator)">close</mat-icon>
</li>

<button (click)="startMob()">Start</button>
<button (click)="stopMob()">Stop</button>
