<mat-sidenav-container>
  <mat-card>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Time left: {{timeLeft}}
        </mat-panel-title>
        <mat-panel-description>
          Driver: {{driver}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="driver-for">
        <mat-label>Driver For</mat-label>
        <input matInput type="number" placeholder="15" value="15" (change)="driverForHandler($event)">
      </mat-form-field>

    </mat-expansion-panel>

    <mat-card-actions align="center">
      <button mat-icon-button (click)="start()">
        <mat-icon>play_arrow</mat-icon>
      </button>

      <button mat-icon-button (click)="pause()">
        <mat-icon>pause</mat-icon>
      </button>

      <button mat-icon-button (click)="stop()">
        <mat-icon>stop</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="add-player">
    <mat-form-field appearance="outline">
      <mat-label>Add Player</mat-label>
      <input matInput #newNavigator placeholder="Name" value="">
    </mat-form-field>

    <button mat-icon-button>
      <mat-icon (click)="addNavigator(newNavigator.value)">add</mat-icon>
    </button>
  </div>

  <mat-list>
    <mat-list-item class="player-item" *ngFor="let player of players">
      <h3>{{player}}</h3>
      <button mat-icon-button>
        <mat-icon (click)="removePlayer(player)">close</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-sidenav-container>

