.driver-for {
  width: 45px;
}

.edit-driver-for {
  //display: flex;
  //flex-direction: row;
}

.add-player {
  display: flex;
  margin-top: 20px;

  mat-form-field {
    width: 100%;
  }
}

.mat-icon-button {
  width: 55px;
  height: 55px;
}

.player-item {
  h3 {
    margin: 0;
    width: 100%;
  }
}

